/* GENERAL */
:root {
    --bottom-player-height: 100px;
    --side-menu-height: calc(100vh - 100px);
    --side-menu-width: 230px;
    --play-width: 30%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
}

.container {
    overflow-y: auto;
}

/* button */

button {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    padding: 14px 36px;
    border-radius: 48px;
    transition: all 0.5s ease;
    cursor: pointer;
}

button:hover { scale: 1.1; }
button:active { scale: 1; }

/* slider */

.slider {
    height: 4px;
    background-color: #6D6D6D;
    border-radius: 16px;
    cursor: pointer;
}

.slider .fill {
    position: relative;
    height: 100%;
    border-radius: 16px;
    background-color: #C1C1C1;

}

.slider .fill .thumb {
    display: none;
    position: absolute;
    right: -7.5px; /* half thumb width */
    top: -5.5px; /* half thumb height - half height slider */
    height: 15px;
    width: 15px;
    background-color: #C1C1C1;
    border-radius: 50%;
}

.slider:hover .fill {
    background-color: #ADFF2F;
}

.slider:hover .fill .thumb {
    display: block;
}

/* media queries */

@media screen and (max-width: 878px) and (min-width: 640px) {
    section#content .card {
        width: calc(100% / 4 - 9.5px) !important;
    }

    section#content .card-container > div.card + :not(:nth-child(4n)) {
        margin-right: 12px !important;
        margin-bottom: 24px;
    }

    section#content .card-container :nth-child(4n) {
        margin-right: 0 !important;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 639px) {
    section#content .card {
        width: calc(100% / 2 - 7px) !important;
    }

    section#content .card-container > div.card + :not(:nth-child(even)) {
        margin-right: 12px !important;
        margin-bottom: 24px;
    }

    section#content .card-container :nth-child(even) {
        margin-right: 0 !important;
        margin-bottom: 24px;
    }

    section#bottom-player #like {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 4px;
    }

    section#bottom-player #like .fa-folder {
        margin-left: 0;
        margin-top: 6px;
    }
}

@media screen and (max-width: 552px) {
    section#side-menu {
        display: none;
    }

    section#side-menu-small {
        display: block !important;
    }

    section#content {
        width: calc(100vw - 50px) !important;
        left: 50px !important;
    }
}

/* MAIN */

/* side menu start */

section#side-menu {
    background-color: black;
    color: #6D6D6D;
    width: var(--side-menu-width);
    height: var(--side-menu-height);
    overflow-y: hidden;
}

section#side-menu-small {
    background-color: black;
    color: #6D6D6D;
    width: 50px;
    height: var(--side-menu-height);
    overflow-y: hidden;
    display: none;
}

section#side-menu #top-side-menu {
    height: 230px;
}

section#side-menu #middle-side-menu {
    height: calc(var(--side-menu-height) - 230px - 124px);
    min-height: 50px;
}

section#side-menu #bottom-side-menu > div > :first-child {
    margin-right: 12px;
    border-bottom: 1px solid #6D6D6D;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

section#side-menu #logo {
    margin: 16px;
    width: 150px;
}

section#side-menu nav div {
    font-size: 12px;
    border-left: 3px solid transparent;
    cursor: pointer;
}

section#side-menu nav div:hover,
section#side-menu .playlist:hover,
section#side-menu ul > li:hover,
section#side-menu #bottom-side-menu > div > :first-child:hover {
    color: white;
    cursor: pointer;
}

section#side-menu nav div:hover svg path,
section#side-menu-small div.icon:hover svg path {
    fill: white;
}

section#side-menu nav > #home {
    border-color: #ADFF2F;
}

section#side-menu > div > div,
section#side-menu > h4 {
    margin-left: 20px;
}

section#side-menu #bottom-side-menu div:hover {
    cursor: pointer;
}

/* playlist */

section#side-menu .fa-square-plus {
    font-size: 48px;
}

section#side-menu ul > li {
    margin: 16px 0;
    overflow: auto;
}

/* side menu end */

/* content start */

section#content {
    position: absolute;
    left: var(--side-menu-width);
    top: 0;
    background-color: #1b1f26;
    width: calc(100vw - var(--side-menu-width));
    height: calc(100vh - var(--bottom-player-height));
    overflow-y: auto;
    padding-bottom: 32px;
}

section#content nav {
    color: #6D6D6D;
}

section#content nav > * {
    margin: 16px;
    font-size: 14px;
}

section#content nav p:hover {
    color: white;
    cursor: pointer;
}

section#content nav hr {
    width: 40px;
    border: 1px solid;
    margin-top: 4px;
}

section#content .card-container {
    max-width: 1680px;
}


section#content .card-container > div.card:not(.card-container :last-child) {
    margin-right: 14px;
}

section#content .card {
    width: calc(100% / 6 - 12px); /* tutto il container / max numero colonne */
    cursor: pointer;
}

section#content .card p {
    text-align: center;
}

section#content .play {
    position: absolute;
    width: var(--play-width);
    top: calc(50% - var(--play-width) / 2);
    right: calc(50% - var(--play-width) / 2);
    pointer-events: none; /* prevents from flickering */
    z-index: 2;
}

section#content .filter {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    pointer-events: none;
    z-index: 1;
}

section#content #recently img:hover + .filter,
section#content #suggestion img:hover + .filter {
    display: block;
}

/* content end */

/* bottom player start */

section#bottom-player {
    background-color: #222222;
    color: white;
    width: 100vw;
    height: var(--bottom-player-height);
    position: relative;
    z-index: 1;
    padding: 12px;
}

/* song subsection */

section#bottom-player #song,
section#bottom-player #player,
section#bottom-player #volume {
    width: calc(100% / 3 - 12px);
}

section#bottom-player #song img {
    max-width: 54px;
}

/* player subsection */
/* volume subsection */

section#bottom-player #volume > * {
    margin-right: 12px;
    cursor: pointer;
}

/* bottom player end */