/* GENERAL */
:root {
    --bottom-player-height: 100px;
    --side-menu-height: calc(100vh - 100px);
    --side-menu-width: 230px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
}

.container {
    overflow-y: auto;
    /* height: 50vh; */
}

button {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    padding: 14px 36px;
    border-radius: 48px;
    transition: all 0.5s ease;
    cursor: pointer;
}

button:hover { scale: 1.1; }
button:active { scale: 1; }

/* MAIN */

/* side menu start */

section#side-menu {
    background-color: black;
    color: #6D6D6D;
    width: var(--side-menu-width);
    height: var(--side-menu-height);
}

section#side-menu #top-side-menu {
    height: 230px;
}

section#side-menu #middle-side-menu {
    height: calc(var(--side-menu-height) - 230px - 124px);
    min-height: 50px;
}

section#side-menu #bottom-side-menu > div > :first-child {
    margin-right: 12px;
    border-bottom: 1px solid #6D6D6D;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

section#side-menu #logo {
    margin: 16px;
    width: 150px;
}

section#side-menu nav div {
    font-size: 12px;
    border-left: 3px solid transparent;
    cursor: pointer;
}

section#side-menu nav div:hover,
section#side-menu .playlist:hover,
section#side-menu ul > li:hover,
section#side-menu #bottom-side-menu > div > :first-child:hover {
    color: white;
    cursor: pointer;
}

section#side-menu nav div:hover svg path {
    fill: white;
}

section#side-menu nav > #home {
    border-color: #ADFF2F;
}

section#side-menu > div > div,
section#side-menu > h4 {
    margin-left: 20px;
}

section#side-menu #bottom-side-menu div:hover {
    cursor: pointer;
}

/* playlist */

section#side-menu .fa-square-plus {
    font-size: 48px;
}

section#side-menu ul > li {
    margin: 16px 0;
    overflow: auto;
}

/* side menu end */

/* content start */

section#content {
    position: absolute;
    left: var(--side-menu-width);
    top: 0;
    background-color: #1b1f26;
    width: calc(100vw - var(--side-menu-width));
    height: calc(100vh - var(--bottom-player-height));
    overflow-y: auto;
    padding-bottom: 32px;
}

section#content nav {
    color: #6D6D6D;
}

section#content nav > * {
    margin: 16px;
    font-size: 14px;
}

section#content nav p:hover {
    color: white;
    cursor: pointer;
}

section#content nav hr {
    width: 40px;
    border: 1px solid;
    margin-top: 4px;
}

section#content .card-container {
    max-width: 1680px;
}


section#content .card-container > div.card:not(.card-container :last-child) {
    margin-right: 14px;
}

section#content .card {
    width: calc(100% / 6 - 16px); /* tutto il container / max numero colonne */
    cursor: pointer;
}

section#content .card p {
    text-align: center;
}

/* content end */

/* bottom player start */

section#bottom-player {
    background-color: #222222;
    color: white;
    width: 100vw;
    height: var(--bottom-player-height);
    position: relative;
    z-index: 1;
}

/* bottom player end */